<component name="ArtifactManager">
  <artifact type="war" name="SpringBootJsp:war">
    <output-path>$PROJECT_DIR$/SpringBootJsp/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>SpringBootJsp</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="springbootjsp-0.0.1-SNAPSHOT.war">
      <element id="artifact" artifact-name="SpringBootJsp:war exploded" />
    </root>
  </artifact>
</component>